
body{
  background-color: rgb(236, 202, 129);
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  
}
header {
  background-color:rgb(240, 195, 112);
  box-shadow: 0 0 10px rgb(199, 114, 17);
  border-radius: 10px;
  color:rgb(224, 130, 21);
  font-size: 3em;
  border: 1px groove rgb(235, 156, 91);
  padding: 20px;
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
  border-style: groove;
  letter-spacing: 0.3em;
}

article{
  box-shadow: 0 0 10px rgb(199, 114, 17);
  text-align: left;
  background-color: rgb(238, 187, 124);
  width: 200px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-sizing: border-box; 
  width: 50%;
  
  
}

h2{
  border-bottom: 1px solid rgb(230, 145, 48);
  font-size: 120%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

p{
  word-spacing: 0.1em;
  line-height: 1.2em;
  margin-top: 10px;
}

ol {
  line-height: 1.3em;
  list-style-type: decimal;
  word-spacing: 0.1em;

}

ul {
  list-style: disc;
  line-height: 1.3em;
  word-spacing: 0.1em;
}

nav {
  width: 100%;
  /* border: 1px solid black; */
  margin-bottom: 50px; 
}

nav li{
  display: inline-block;
  width: 16.1%;
  /* border: 1px solid red; */
  text-align: center;
  background-color: rgb(238, 187, 124);
  box-shadow: 0 0 10px rgb(199, 114, 17);
}

address li {
  background-color: rgb(238, 187, 124);
  box-shadow: 0 0 10px rgb(199, 114, 17);
  display: inline-block;
  /* border: 1px solid red; */
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 33%;
}

footer{
  margin-top: 30px; 
  padding: 5px;
  background-color: rgb(238, 187, 124);
  box-shadow: 0 0 10px rgb(199, 114, 17);
}

img{
  width: 140px;
  height: 100px;
  float: left;
  margin: 0px 10px 5px 0px;

}

a:link{
  color: rgb(168, 95, 12);
}
a:visited{
  color: rgb(235, 105, 66);
}
a:hover{
  color: rgb(164, 127, 212);
}

nav li a{
  color: rgb(202, 37, 7);
  text-decoration: none;
}

nav li a:visited{
  color: rgb(24, 123, 141);
  text-decoration: underline;
}

