
body{
  background-color: rgb(200, 231, 185);
  font-family: Arial, Helvetica, sans-serif;
  
}
header {
  background-color:rgb(55, 221, 171);
  color:brown;
  text-decoration: underline;
  font-size: 3em;
  border: 1px solid blue;
  padding: 20px;
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
}

article{
  text-align: left;
  background-color: rgb(238, 187, 124);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  
}

h2{
  font-size: 2em;
  margin-bottom: 10px;
  text-transform: uppercase;
}